In [5]:
import numpy as np
import pandas as pd
import datetime as dt
import os

In [6]:
df = pd.read_csv('/Users/neem8001/Desktop/Friends and family/mSurvey F&F contact list - nielsen employees (1).csv')

In [7]:
df["email"].str.contains("nielsen.com")

0       True
1       True
2      False
3       True
4       True
       ...
412     True
413    False
414    False
415    False
416     True
Name: email, Length: 417, dtype: object

In [8]:
df["personal_email"] = df["email"].str.contains("nielsen.com")*1

In [9]:
Total = df['personal_email'].sum()
print(Total)

275

In [12]:
417-275

142

In [10]:
df.head()

,first_name,last_name,email,phone,address_1,address_2,city,state,zip,Unnamed: 9,personal_email
0,Ryan,Baer,ryan.a.baer@nielsen.com,4435614976,506 Brentwood Ave,NaN,Severna Park,MD,21146,NaN,1
1,Maria,Carfora,maria.carfora@nielsen.com,2033145704,77 Rentell Rd,NaN,Hamden,CT,6514,NaN,1
2,Ross,DeMike,rossjdm@gmail.com,9414165893,5831 Meadows Dr APT E,NaN,Fort Wayne,IN,46804-7651,NaN,0
3,Karen,Gavigan,karen.gavigan@nielsen.com,4439627670,7892 Poplar Grove Rd,NaN,Severn,Maryland,21144-2023,NaN,1
4,Kimberly,Hawkins,kimberly.hawkins@nielsen.com,7277988625,18005 US 301,NaN,Dade City,FL,33523,NaN,1

In [11]:
df.to_csv('updated_contact_list_with_personalemails.csv', index=False)